<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>休闲网注册页面</title>
</head>

<body>
    <div id="header" class="main">
         
        <div id="headerRight">注册 | 登录 | 帮助</div>
    </div>
    <div class="main">
        <form action="index/insert" method="post" >
            <table id="center" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="bold" colspan="2">注册休闲网</td>
                </tr>

                <tr>
                    <td class="left">用户名:</td>
                    <td>
                        <input id="email" name="name" type="text" class="inputs" /></td>
                </tr>
                <tr>
                    <td class="left">密码：</td>
                    <td>
                        <input id="pwd" name="password" type="password" class="inputs" /></td>
                </tr>
                <tr>
                    <td class="left">确认密码：</td>
                    <td>
                        <input id="repwd" name="repassword" type="password" class="inputs" /></td>
                </tr>
                <tr>
                    <td class="left">邮箱：</td>
                    <td>
                        <input id="repwd" name="email" type="text" class="inputs" /></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input name="btn" type="submit" value="注册" class="rb1" /></td>
                </tr>

            </table>
        </form>

    </div>
    <div id="footer" class="main"><a href="#">关于我们</a> | <a href="#">诚聘英才</a> |<a href="#"> 联系方式</a>  | <a href="#">帮助中心</a></div>
</body>
</html>
