<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
</head>
<body>
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td class="bold">添加管理员</td>
                        </tr>
                        <form action="insert" method="post" >
                            <tr>
                                <td>用户名：<input id="username" name="name" type="text" /></td>
                            </tr>
                            <tr>
                                <td>&nbsp;密码：<input id="psd" name="password" type="password"  /></td>
                            </tr>
                             <tr>
                                <td>确认密码：<input id="psd" name="repassword" type="password"  /></td>
                            </tr>
                             <tr>
                                <td>邮箱：<input id="psd" name="email" type="text"  /></td>
                            </tr>
                            <tr>
                                <td style="height: 35px; padding-left: 30px;">
                                    <input  id="btn" type="submit" value="提交" class="rb1"  /></td>
                            </tr>
                        </form>
                    </table>
</body>
</html>